body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    min-height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, #1f1f1f, #0d0d0d);
    padding: 20px 0;
    border-bottom: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


